/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    // background:#551e19;
    background:black;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e6b17e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d39862;
  }
